fieldset {
  padding: 0 1rem 1rem;
  border: 2px solid var(--col-bg-medium);
  position: relative;
  margin-bottom: calc(var(--m-norm) * 1rem);
}

fieldset > legend {
  font-weight: bold;
  padding: 0;
}

input, button {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
}

label {
  display: block;
  font-weight: bold;
}

/* invalid, error, other feedback styles */
input[aria-invalid='true'], textarea[aria-invalid='true'] {
  border-color: var(--col-mes-danger-dark);
}

input[aria-invalid='false'], textarea[aria-invalid='false'] {
  border-color: var(--col-mes-success-dark);
}

/* checkboxes and radio buttons */
[type="checkbox"], [type="radio"] {
  padding: 0;
  opacity: 0;
}

[type="checkbox"] + label, [type="radio"] + label {
  position: relative;
  padding: 0 3rem 0 2rem;
  font-weight: normal;
}

input[disabled] + label::before {
  border: 0;
}

[type="checkbox"] + label::before, [type="radio"] + label::before {
  height: 22px;
  width: 22px;
  left: 0;
  top: 1px;
  background: var(--col-bg-medium);
  border: 1px solid var(--col-bg-med-dark);
}

[type="radio"] + label::before {
  border-radius: 50%;
}

[type="checkbox"] + label::before,
[type="checkbox"] + label::after,
[type="radio"] + label::before,
[type="radio"] + label::after {
  position: absolute;
  content: '';
  display: inline-block;
}

[type="radio"] + label::after {
  left: 4px;
  top: 5px;
  width: 13px;
  height: 13px;
  border: 7px solid var(--col-primary);
  border-radius: 50%;
  content: none;
}

[type="radio"]:checked + label::after {
  content: '';
}

[type="checkbox"]:checked + label::before {
  background-color: var(--col-primary);
}

[type="checkbox"]:checked + label::after {
  left: 7px;
  top: 3px;
  width: 8px;
  height: 14px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

[type="checkbox"]:focus + label::before, [type="radio"]:focus + label::before {
  outline: var(--col-secondary) solid 1px;
  box-shadow: 0 0px 8px var(--col-secondary-light);
}

/* textareas and text inputs */
[type='text'], [type='search'], textarea {
  width: 100%;
  max-width: 100%;
  padding: 0.75rem;
  margin: 8px -2px 20px;
  border-radius: 4px;
  border: 1px solid var(--col-bg-med-dark);
  font-size: 1rem;
  min-height: 49px;
}

textarea {
  min-height: 8rem;
  overflow: auto;
}

/* select */
select {
  font-size: 1rem;
  background: var(--col-bg-medium);
}

/* form buttons */
[type='submit'], [role='button'] {
  display: inline-block;
  background-color: var(--col-primary);
  color: white;
  padding: 0.8rem 1rem;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  border: 2px solid var(--col-primary);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  min-height: 48px;
  position: relative;
  min-height: inherit;
}

[type="submit"]:focus, [type="submit"]:active,
[role="button"]:focus, [role="button"]:active {
  background-color: var(--col-primary-dark);
  text-decoration: underline;
}

/* Search group */
.search {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.search > * {
  display: block;
  border-radius: 4px;
  flex: 1 1 auto;
  width: 1%;
  margin: 0;
}

.search > *:first-child) {
  margin-right: -1px;
  display: flex;
}

.search > *:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search > *:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search input[type="search"] {
  flex-grow: 2;
}

select + input[type="search"] {
  margin-right: -4px;
}

/* toggles */
.toggle[type="checkbox"] {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}
.toggle[type="checkbox"] + label {
  display: block;
  position: relative;
  padding: 0.5em;
  padding-left: 4em;
  max-width: calc(100% - 2em);
}
.toggle[type="checkbox"] + label::before,
.toggle[type="checkbox"] + label::after {
  content: "";
  position: absolute;
  height: 1.5em;
  transition: all 0.25s ease;
}
.toggle[type="checkbox"] + label::before {
  left: 0;
  top: 0.2em;
  width: 3em;
  border: 0.2em solid #767676;
  background: #767676;
  border-radius: 1.1em;
}
.toggle[type="checkbox"] + label::after {
  left: 0;
  top: 0.25em;
  background-color: #fff;
  background-position: center center;
  border-radius: 50%;
  width: 1.5em;
  border: 0.15em solid #767676;
}
.toggle[type="checkbox"]:checked + label::after {
  left: 1.6em;
  border-color: #36a829;
  color: #36a829;
}

.toggle[type="checkbox"]:focus + label,
.toggle[type="checkbox"]:hover + label {
  color: #00f;
}
.toggle[type="checkbox"]:focus + label::before,
.toggle[type="checkbox"]:hover + label::before {
  box-shadow: 0 0 0.5em #333;
}
.toggle[type="checkbox"]:focus + label::after,
.toggle[type="checkbox"]:hover + label::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='50' fill='rgba(0,0,0,.25)'/%3E%3C/svg%3E");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center center;
}

.toggle[type="checkbox"][disabled] + label::before {
  background-color: transparent;
  border-color: #ddd;
}
.toggle[type="checkbox"][disabled] + label::after {
  border-color: #ddd;
}
.toggle[disabled]:hover + label {
  color: #999; /* case for CSS custom property if not supporting IE/Edge */
}
.toggle[type="checkbox"][disabled]:hover + label::before {
  box-shadow: none;
}
.toggle[type="checkbox"][disabled]:hover + label::after {
  background-image: none;
}

.toggle[type="checkbox"]:indeterminate + label::after {
  left: 0.8em;
}
.toggle[type="checkbox"]:indeterminate + label::before {
  background-color: #ddd;
}

/* if text goes before toggle */
.toggle.flip[type="checkbox"] + label::before,
.toggle.flip[type="checkbox"] + label::after {
  left: auto;
  right: 0;
}
.toggle.flip[type="checkbox"] + label::after {
  left: auto;
  right: 1.6em;
}
.toggle.flip[type="checkbox"]:checked + label::after {
  right: 0;
}

.toggle.flip[type="checkbox"]:indeterminate + label::after {
  right: 0.8em;
}
.toggle.flip[type="checkbox"] + label {
  padding-left: 0;
  padding-right: 4em;
}

@media screen and (-ms-high-contrast: active) {
  .toggle[type="checkbox"]:focus + label::before,
  .toggle[type="checkbox"]:hover + label::before {
    outline: 1px dotted windowText;
    outline-offset: 0.25em;
  }
  .toggle[type="checkbox"] + label::after {
    background-color: windowText;
  }
  .toggle[type="checkbox"][disabled] + label::after {
    background-color: transparent;
  }
}
