fieldset {
  padding: 0 1rem 1rem;
  border: 2px solid var(--col-bg-medium);
  position: relative;
}

fieldset > legend {
  font-weight: bold;
  padding: 0;
}

input, button {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
}

label {
  display: block;
}

/* checkboxes and radio buttons */
[type="checkbox"], [type="radio"] {
  padding: 0;
  opacity: 0;
}

[type="checkbox"] + label, [type="radio"] + label {
  position: relative;
  padding: 0 3rem 0 2rem;
}

[type="checkbox"] + label::before, [type="radio"] + label::before {
  height: 22px;
  width: 22px;
  left: 0;
  top: 1px;
  background: var(--col-bg-medium);
  border: 1px solid var(--col-bg-med-dark);
}

[type="checkbox"] + label::before,
[type="checkbox"] + label::after,
[type="radio"] + label::before,
[type="radio"] + label::after {
  position: absolute;
  content: '';
  display: inline-block;
}

[type="radio"] + label::after {
  left: 4px;
  top: 5px;
  width: 13px;
  height: 13px;
  border: 7px solid var(--col-primary);
  border-radius: 50%;
  content: none;
}

[type="radio"]:checked + label::after {
  content: '';
}

[type="checkbox"]:checked + label::before {
  background-color: var(--col-primary);
}

[type="checkbox"]:checked + label::after {
  left: 7px;
  top: 3px;
  width: 8px;
  height: 14px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

[type="checkbox"]:focus + label::before, [type="radio"]:focus + label::before {
  outline: var(--col-secondary) solid 1px;
  box-shadow: 0 0px 8px var(--col-secondary-light);
}

/* textareas and text inputs */
[type='text'], textarea {
  width: 100%;
  max-width: 100%;
  padding: 0.75rem;
  margin: 8px -2px 20px;
  border-radius: 4px;
  border: 2px solid #f4f4f4;
  font-size: 1rem;
  min-height: 49px;
}

textarea {
  min-height: 8rem;
  overflow: auto;
}

/* form buttons */
[type='submit'], [role='button'] {
  display: inline-block;
  background-color: var(--col-primary);
  color: white;
  padding: 0.8rem 1rem;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  border: 2px solid var(--col-primary);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  min-height: 48px;
  position: relative;
  margin: 0.5rem 0;
  min-height: inherit;
}

[type="submit"]:focus, [type="submit"]:active,
[role="button"]:focus, [role="button"]:active {
  background-color: var(--col-primary-dark);
  text-decoration: underline;
}
